# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
.pnp
.pnp.js

# Build directories
build/
dist/

# Cache and temporary files
.cache/
.tmp/
.docker/
.vscode/

# Testing-related files
coverage/

# Production environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store
.idea/
*.swp

# Vercel specific (optional but recommended)
.vercel/

# Package-lock and Yarn integrity
package-lock.json
yarn.lock
