.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
  
.details {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 20px; 
}
  
span {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.details-input {
    text-align: center; 
}
  
.details-input input {
    font-size: 1.5rem; 
    padding: 10px; 
}
  
button {
    padding: 10px 20px;
    font-size: 1.5rem; 
    color:rgb(46, 36, 36);
    cursor: pointer;
    background-color: rgb(209, 204, 204);
    margin-bottom: 1rem;
}

button:hover {
    background-color: rgba(55, 192, 250, 0.363); 
    color: white; 
}
  
  
.image-container img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
  
.error {
    color: rgb(252, 245, 245);
}
  